<h1 id="tableLabel"></h1>

<div *ngIf="profile">
  <p>
    <a href="{{profile.individual.ancestryLink}}" target="_blank">
      <strong>{{profile.individual.given}} {{profile.individual.surname}}</strong>
    </a>
  </p>
  <p>
    <strong>Birth</strong>: {{profile.individual.birth.dayMonthYear}}
  </p>
  <p>
    <strong>Death</strong>: {{profile.individual.death.dayMonthYear}}
  </p>
  <div>
    <h3>Events</h3>
    <ul>
      <li *ngFor="let event of profile.events">
        <h3>
          <strong>{{event.name}}</strong> {{event.gedcomDate.dayMonthYear}} {{event.place.name}}
        </h3>
        <strong>Notes</strong>
        <ul>
          <li *ngFor="let note of event.notes">
            {{note}}
          </li>
        </ul>
        <strong>Sources</strong>
        <ul>
          <li *ngFor="let sourceCitation of event.sourceCitations">
            {{sourceCitation.whereWithinSource}}
            <ul>
              <li *ngFor="let textFromSource of sourceCitation.data.textFromSources">
                {{textFromSource}}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h3>Spouses and Children</h3>
    <div *ngFor="let family of profile.families">
      <p *ngIf="profile.individual.xref !== family.partner1.xref">
        <a href="{{family.partner1.ancestryLink}}" target="_blank">
          <strong>{{family.partner1.given}} {{family.partner1.surname}}</strong>
        </a>
      </p>
      <p *ngIf="profile.individual.xref !== family.partner2.xref">
        <a href="{{family.partner2.ancestryLink}}" target="_blank">
          <strong>{{family.partner2.given}} {{family.partner2.surname}}</strong>
        </a>
      </p>
      <ul>
        <li *ngFor="let child of family.children">
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{child.ancestryLink}}" target="_blank">
            {{child.given}} {{child.surname}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
