<h1 id="tableLabel">Gedcom</h1>

<div *ngIf="individualRecord">
  <p>
    {{individualRecord.given}} {{individualRecord.surname}} ({{individualRecord.xref}})
  </p>
  <p>
    Birth: {{individualRecord.birth}}
  </p>
  <p>
    Death: {{individualRecord.death}}
  </p>
  <div *ngIf="familyModels">
    <div *ngFor="let familyModel of familyModels">
      <p *ngIf="individualRecord.xref !== familyModel.husband.xref">
        Husband: {{familyModel.husband.given}} {{familyModel.husband.surname}}
      </p>
      <p *ngIf="individualRecord.xref !== familyModel.wife.xref">
        Wife: {{familyModel.wife.given}} {{familyModel.wife.surname}}
      </p>
    </div>
  </div>
</div>

<!--<h4>Child to Family Links</h4>
<ul>
  <li *ngFor="let ctfl of individualRecord?.childToFamilyLinks || []">
    {{ctfl.xref}}
  </li>
</ul>-->
<!--<ul>
  <li *ngFor="let irn of individualRecordNames">
    ({{irn.xref}}) {{irn.given}} {{irn.surname}}
  </li>
</ul>-->
