<h1 id="tableLabel"></h1>

<div *ngIf="profile">
  <h1>
    <a href="{{profile.individual.ancestryLink}}" target="_blank">
      {{profile.individual.given}} {{profile.individual.surname}}
    </a>
  </h1>
  <div>
    <p>
      <strong>Birth</strong> {{profile.individual.birth.date.dayMonthYear}} * {{profile.individual.birth.place.name}}
    </p>
    <p>
      <strong>Death</strong> {{profile.individual.death.date.dayMonthYear}} * {{profile.individual.death.place.name}}
    </p>
  </div>
  <div id="sources">
    <h3>Sources</h3>
    <ul>
      <li *ngFor="let source of profile.sources">
        Automated Record Id: {{source.automatedRecordId}}<br />
        Call number: {{source.callNumber}}<br />
        Change date: {{source.changeDate}}<br />
        <!--{{source.multimediaLinks}}<br />-->
        Notes: {{source.notes}}<br />
        Title: {{source.title}}<br />
        Filed By Entry: {{source.filedByEntry}}<br />
        Originator: {{source.originator}}<br />
        Publication facts: {{source.publicationFacts}}<br />
        <!--{{source.recordData}}<br />-->
        <!--{{source.sourceRepositoryCitations}}-->
        textFromSource: {{source.textFromSource}}<br />
        <!--{{source.userReferenceNumbers}}<br />-->
      </li>
    </ul>
  </div>
  <div id="repositories" style="display:none;">
    <h3>Repositories</h3>
    <ul>
      <li *ngFor="let repository of profile.repositories">
        {{repository.name}} ({{repository.xref}})<br />
        {{repository.address.line}}<br />
        <span *ngFor="let email of repository.emails">{{email}}</span>
        <span *ngFor="let faxNumber of repository.faxNumbers">{{faxNumber}}</span>
        <span *ngFor="let webPage of repository.webPages">{{webPage}}</span>
        <span *ngFor="let phoneNumber of repository.phoneNumbers">{{phoneNumber}}</span>
      </li>
    </ul>
  </div>
  <div id="events" style="display: none;">
    <h3>Events</h3>
    <ul>
      <li *ngFor="let event of profile.events">
        <h3>
          <strong>{{event.name}}</strong><br />
          {{event.date.dayMonthYear}} {{event.place.name}}<br />
          {{event.sourceCitations.length}} sources
        </h3>
        <div *ngIf="event.notes.length > 0">
          <strong>Notes</strong>
          <ul>
            <li *ngFor="let note of event.notes">
              {{note}}
            </li>
          </ul>
        </div>
        <strong>Sources</strong>
        <ul>
          <li *ngFor="let sourceCitation of event.sourceCitations">
            {{sourceCitation.whereWithinSource}}
            <ul>
              <li *ngFor="let textFromSource of sourceCitation.data.textFromSources">
                {{textFromSource}}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="spouses-and-children" style="display:none;">
    <h3>Spouses and Children</h3>
    <div *ngFor="let family of profile.families">
      <p *ngIf="profile.individual.xref !== family.partner1.xref">
        <a href="{{family.partner1.ancestryLink}}" target="_blank">
          <strong>{{family.partner1.given}} {{family.partner1.surname}}</strong>
        </a>
      </p>
      <p *ngIf="profile.individual.xref !== family.partner2.xref">
        <a href="{{family.partner2.ancestryLink}}" target="_blank">
          <strong>{{family.partner2.given}} {{family.partner2.surname}}</strong>
        </a>
      </p>
      <ul>
        <li *ngFor="let child of family.children">
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{child.ancestryLink}}" target="_blank">
            {{child.given}} {{child.surname}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

